.main-header {
  .top-header, .main-nav {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 0 16px;
    background-color: $color-primary;
    box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 2px 6px 2px;
  }

  .top-header {
    @include flex-box($justify: space-between);

    height: 64px;
    gap: 12px;
    top: 0;
  }

  .title {
    @include flex-box;
  }

  .profile {
    @include flex-box($direction: column);

    span {
      display: none;
    }
  }

  .main-nav {
    @include flex-box($justify: space-evenly);
  
    height: 80px;
    bottom: 0;
  }

  .nav-item {
    @include flex-box($direction: column-reverse);
    
    font-size: 18px;

    svg {
      width: 40px;
    }
  }
}