.thread-preview {
    .thread-body {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 1; 
        -webkit-line-clamp: 1;           
        -webkit-box-orient: vertical;
    }
}