.detail-page {
    padding-bottom: 20px;

    .header-section, .content-section, .vote-section, .comment-section, .comment-detail {
        margin-top: 30px;
    }

    .header-section, .comment-header {
        @include flex-box($direction: column, $align: flex-start);
        gap: 8px;

        > div {
            &:nth-child(1) {
                flex-basis: 10%;
            }
        }

        img {
            width: 40px;
        }
    }    

    .vote-buttons {
        @include flex-box($justify: flex-start);
        gap: 20px;
        margin-top: 10px;
    }

    .form-section {
        label, button {
            padding-left: 12px !important;
        }
    }

    .comment-detail {
        border-radius: 8px;
        border: 1px solid $color-button;
        padding: 20px;
    }
}