.home-page {
  .create-thread, .filter-section, .thread-preview {
    box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 2px 6px 2px;
    border-radius: 4px;
    margin: 20px 0;
    padding: 12px 20px;
  }

  .create-thread {
    h3 {
      text-align: center;
      margin-bottom: 20px;
    }

    button {
      @include submit-button;
    }
  }

  .filter {
    button {
      @include flex-box;
    }
  }

  .buttons {
    padding-top: 6px;
    gap: 12px;
    flex-wrap: wrap;

    @include flex-box($justify: flex-start);

    button {
      color: $color-button;
    }

    .selected {
      font-weight: bold;
      color: $color-anchor;
    }
  }

  .thread-list {
    @include tablet {
      @include flex-box($justify: flex-start, $align: stretch);
      
      flex-wrap: wrap;
    }
  }
}