@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kanit:wght@300&display=swap');

@import './reset/reset';
@import './variables/variables';
@import './mixins/mixin';
@import './pages/home';
@import './pages/login';
@import './pages/register';
@import './pages/leaderboard';
@import './pages/detail';
@import './components/thread-preview';
@import './components/loading';
@import './components/text-input';
@import './components/password-input';
@import './components/header';

* {
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
}

html {
    scroll-behavior: smooth;
}

body, input, textarea, button {   
    font-size: 14px;

    @include mobile {
        font-size: 16px;
    }
}

main.logged-in{
    padding: 64px 20px 80px;
}

input, textarea {
    border-width: 0;

    &:focus {
        text-decoration: none;
        outline: none;
    }
}

textarea {
    resize: vertical;
  }

button, a {
    color: $color-button;
    background-color: transparent;
    border-width: 0;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $color-button;
    }

    &:disabled {
        cursor: not-allowed;
        color: $color-anchor;
    }
}

.hidden {
    display: none;
}

.icons {
    min-width: 32px;
    height: auto;
    stroke-width: 1;
}

.scroll-to-top {
    position: fixed;
    bottom: 90px;
    right: 20px;

    svg {
        filter: drop-shadow(1px 1px 1px black);
        width: 44px;
    }
}

.user-avatar {
    @include flex-box();

    img {
        width: 40px;
        border-radius: 50%;
    }
}

.not-found-page {
    @include flex-box($direction: column);
    height: 100vh;
    font-size: 40px;

    p {
        @include flex-box();
        gap: 16px;
        padding-bottom: 20px;
        border-bottom: 1px solid $color-secondary
    }

    button {
        font-size: inherit;
    }
}