@import './reset/reset';

@import './components/thread-preview';
@import './components/loading';

.hidden {
    display: none;
}

.icons {
    min-width: 44px;
    height: auto;
    stroke-width: 1;
}