$bg-primary: #03001C;
$bg-card: #1D2226;
$bg-input: #39424F;
$color-primary: #FFFF;
$color-secondary: #A0A1A5;
$color-anchor: #588DC3;
$color-button: #39B5E0;
$screen-mobile: 380px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-large-desktop: 1200px;
$screen-extra-large-desktop: 1400px;